ItShop/ItShop.ConsoleClient/App.config

ItShop/ItShop.ConsoleClient/bin/Debug/ItShop.ConsoleClient.vshost.exe.config

ItShop/ItShop.ConsoleClient/obj/Debug/ItShop.ConsoleClient.csproj.FileListAbsolute.txt

ItShop/ItShop.Data/App.config

ItShop/ItShop.Data/obj/Debug/ItShop.Data.csproj.FileListAbsolute.txt

ItShop/ItShop.Model/obj/Debug/ItShop.Model.csproj.FileListAbsolute.txt